/************************************
********RESET STYLES*****************
************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************
*********BASE STYLES*****************
************************************/

html {
  font-size: 62.5%;
  /* This makes the default font size to 10px*/
  background-color: #edeff3;
}

body {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #111;
}

body .learning {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  color: #111;
}

.learning h2 {
  margin-top: 6rem;
}

/************************************
*********HEADER STYLES***************
************************************/

header {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  word-spacing: 1.4rem;
}

header h1 i {
  color: orange;
  text-shadow: none;
  font-size: 3rem;
}

h2 i {
  color: orange;
  text-shadow: none;
  font-size: 5rem;
  margin-right: 2rem;
}

.js-p {
  font-weight: 600;
  color: #ffb830;
}
/************************************
***********MAIN STYLES***************
************************************/

main h2 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

main {
  font-size: 1.4rem;
  line-height: 2;
}

/************************************
********SECTION STYLES***************
************************************/

/* course-details SECTION */

.course-details {
  margin: 2rem 0 3rem;
  padding: 1rem 2rem;
}

.course-details h2 {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.course-img {
  margin-top: 2rem;
  max-width: 100%;
}

.course-img img {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-img img:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.course-details2 {
  margin: 2rem 0 4rem;
  padding: 1rem 2rem;
}

.course-details2 h2 {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.course-img2 {
  margin-top: 4rem;
  margin-left: auto;
  max-width: 100%;
  height: 400px;
  background-image: url("../images/edgar-chaparro-UJRDiuvp7tc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.course-img3 {
  margin-left: auto;
  max-width: 100%;
  height: 500px;
  background-image: url("../images/roman-synkevych-vXInUOv1n84-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.course-img4 {
  margin-left: auto;
  max-width: 100%;
  height: 400px;
  background-image: url("../images/tengyart-_VkwiVNCNfo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.course-img5 {
  height: 300px;
  background-color: #cccccc;
  background-image: url(../images/hello-i-m-nik-zYdYz7JlevE-unsplash.jpg);
  margin-top: 100px;
  background-size: cover;
}

.course-img6 {
  margin-top: 4rem;
  margin-left: auto;
  max-width: 100%;
  height: 400px;
  background-image: url("../images/nick-night-sBSmazXa6Bc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .fa-road {
  margin-top: 5rem;
} */
/* .course-img2 img {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-img2 img:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
} */
/* employable-skills SECTION */

.employable-skills {
  padding: 4rem 2rem;
  margin-bottom: 4rem;
  background-color: #111;
  color: #fff;
  transform: skewY(-7deg);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.employable-skills h2 {
  text-align: center;
  text-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.employable-skills > * {
  transform: skewY(7deg);
}

.employable-skills ul {
  display: block;
  margin: 0 auto;
  list-style: none;
  width: 80%;
  /* max-width: 15rem; */
}

.employable-skills li {
  padding: 2rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  border-left: 2px solid transparent;
  transition: all 0.4s;
}

.employable-skills li:hover {
  border-left: 2px solid orangered;
}

.employable-skills li:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.01);
  border-radius: 4px;
}

/* .employable-skills li:last-child {
    margin-bottom: 1rem;
  } */

.employable-skills a:visited,
.employable-skills a:link {
  text-decoration: none;
  color: inherit;
}

.icon {
  vertical-align: middle;
  display: inline-block;
  height: 2.5rem;
  margin-right: 1rem;
}

.icon img {
  height: 100%;
}

h1 {
  text-align: center;
}

.course_outcome {
  font-size: 20px;
  word-spacing: 1.5px;
  text-align: center;
}

.blue {
  color: blue;
}

h3 {
  margin-top: 10rem;
  font-weight: bold;
  margin-left: 5px;
}

.value-h3 {
  margin-top: 5rem;
  font-weight: bold;
  margin-left: 5px;
}
.form {
  padding: 2px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit {
  padding: 0px;
  margin-top: 30px;
  bottom: 50px;
  padding-right: -80px;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  margin-top: 30px;
  margin-left: 300px;
  height: 300px;
  border-radius: 50px;
  background: #edeff3;
  box-shadow: -20px -20px 60px #c9cbcf, 20px 20px 60px #ffffff;
  padding-bottom: 80px;
}

.tex {
  font-size: 30px;
}

.main-div {
  transform: translate(-50%, -50%);
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #ddbea9;
  outline: none;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 10%;
  margin-top: 30px;
  margin-left: 150px;
  font-weight: bold;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  /* cursor: pointer; */
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out,
    color 0.2s ease-in;
  filter: drop-shadow(3px 10px 4px #eae2b7);
}

.btn:hover {
  background-color: #000;
  color: whitesmoke;
}

.btn:active {
  background-color: #cb997e;
  box-shadow: 0px -1px 0px -1px;
  transition: all 0.3s ease;
}

.increase {
  padding: 5px;
}

#increasesize {
  padding: 10px;
}

.value li {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
  text-decoration: none;
}

.value li {
  padding-left: 27px;
  margin-bottom: 0;
  background: url(https://www.truity.com/sites/all/themes/bootstrap_truity/images/test/result-check.png)
    0px 5px no-repeat;
  background-size: 17px auto;
}

.value2 {
  max-width: 90vw;
  margin: 5rem;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.eq-value li {
  padding-left: 27px;
  margin-bottom: 0;
  background: url(../images/rec.svg) 0px 10px no-repeat;
  background-size: 17px auto;
}

.js-value li {
  padding-left: 27px;
  margin-bottom: 0;
  background: url(../images/streamline-icon-video-game-pacman@48x48.png) 0px
    10px no-repeat;
  background-size: 17px auto;
  list-style-type: none;
}

.timedate {
  float: right;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: #aca4a4;
  margin: 20px 12px;
}

/************************************
*********FOOTER STYLES***************
************************************/

footer {
  margin-top: 50px;
  padding: 1rem;
  /* background: linear-gradient(#fff, #f3f3f3); */
  background-color: #111;
  color: #fff;
}

footer a:link,
footer a:visited {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

footer p {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #999;
}

.name {
  color: #fff;
}

footer p span {
  display: block;
  margin: 1rem 0;
}

/* _________________________________________
________________MEDIA QUERIES_______________
____________________________________________*/

@media (min-width: 700px) {
  html {
    font-size: 75%;
  }
  .course-details p,
  .course-img {
    max-width: 80vw;
    display: block;
    margin: 2rem auto;
  }
  .employable-skills {
    padding: 6rem;
    transform: skewY(-5deg);
  }
  .employable-skills > * {
    transform: skewY(5deg);
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 80%;
  }
  main {
    max-width: 90vw;
    margin: 5rem auto 0;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }
  .course-details {
    width: 38vw;
  }
  .employable-skills {
    width: 45vw;
  }
  .employable-skills,
  .employable-skills > * {
    transform: skew(0);
  }
  .employable-skills {
    padding: 1.5rem;
    border-radius: 4px;
    text-align: center;
  }
  .employable-skills h2 {
    margin-bottom: 4rem;
  }
  .icon {
    display: block;
    margin: 0 auto 1rem;
    height: 3rem;
  }
  .employable-skills ul {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem 2rem;
    font-weight: 100;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 90%;
  }
  main {
    max-width: 80%;
    margin-top: 4rem;
  }
}
